<launch>
  <arg name="robot" default="turtlebot" /> <!-- fetch -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="world_name" value="$(find 20150623)/worlds/playground.world"/>
  </include>

  <include file="$(find 20150623)/launch/$(arg robot).launch" />
</launch>
